 NEXT_PUBLIC_USE_MOCK=true 
# This env variable is used to determine whether to use the mock socket or the real backend socket. It can be set to 'true' or 'false'. If not set, it defaults to true in development and false in production.